.contGralDetalle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    background-color: black;
}
.cont-detail{
    width: 80%;
    height: 100vh;
    background-color: aquamarine;
}
.info-imagenes{
    width: 50%;
}
.info-textos p{
    color: #fff;
}