.contGralLanding-imagen{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-image: url('../../Imagenes/Mar-Del-Plata.webp');
    background-size: cover; /* Hace que la imagen de fondo cubra todo el div */
    background-position: center;
    margin-top: 65px;
}
.contLanding{ /* el padre de este cont es el de HOME */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 550px;
    margin-top: 20px;
}
.cont-Co1-Col2{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* estilos col 1 */
.col1-landing, .col2-landing {
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
/* estilos propiedades col 1 y 2 */
.contProp-col1, .contProp-col2{
    width: 95%;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10%;
    background-color: #fffffff1;
}
.imgProp{
    width: 85%;
    height: 250px;
    margin-top: 20px;
    border-radius: 5%;
}
.infoProp1-texto1, .infoProp1-texto2{
    display: flex;
    justify-content: center;
    align-self: start;
    font-family: Poppins;
    margin: 5px 0 0 25px;
}
.infoProp1-precio{
    align-self: self-end;
    margin: 20px 25px 20px 0;
}
/* estilos texto - col 1 y 2*/
.contTexto-col1 , .contTexto-col2{
    width: 95%;
    height: 130px;
    display: flex;
    flex-direction: column;    
    justify-content: start;
    align-items: center;
    border-radius: 10%;    
    background-color: #fff;
}
.sub-contenedor {
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-self: start;
    width: 90%;
    margin: 8px 0 0 10px;
    background-color: aquamarine;
}
.texto-col1-col2{
    font-family: Poppins;
    margin: 0;
}

/* estilos col 2 */
.col2-landing{
    justify-content: end;
}
.contTexto-col2{
    margin-bottom: 10px;
}

/* estilos col 3 */
.col3-landing{
    width: 40%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;    
}
.contTexto1-col3{
    width: 80%;
    height: 100%;
    margin-bottom: 10px;
    border-radius: 10%;
    background-color: #fffffff1;
}
.imgCasaDpto{
    /* position: absolute; */
    top: 80px; /* Ajuste para que la imagen sobresalga un poco */
    right: 140px; /* Ajuste para que la imagen sobresalga un poco */
    width: 80px;
    border-radius: 50%;
}
.sub-cont-info-col3{
    width: 90%;
    height: 90%;
    margin: 20px 0 0 20px;
}
.texto-col3-comprar{
    font-size: 2rem;
    margin: 0 0 5px 0;
}
.texto-col3-texto{
    font-size: 20px;
    margin: 0 0 10px 0;
}
.texto-col3-vender{
    font-size: 2rem;
    margin: 0;
}
.texto-col3-nuestroClientes{
    font-size: 1.5rem;
    margin: 0 0 5px 0;
}
.linkContacto{
    
}
.texto-col3-texto-link{
    
}
.cont-texto-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.explorarProps{
    margin-right: 10px;
    padding: 8px 10px;
    border-radius: 40px;
    font-size: 1.3rem;
    background-color: aquamarine;
}
.btn-propiedades {
    background-color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}
.iconoPlay{
    width: 30px;
}

/* texto inferior  */
.texto-inferior{
    color: #fff;
}