
.contGralLanding-imagen{
    /* position: relative; */
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-image: url('../../Imagenes/Mar-Del-Plata.webp');
    background-size: cover; /* Hace que la imagen de fondo cubra todo el div */
    background-position: center;
    /* margin-top: 65px; */
}
.contLanding{ /* el padre de este cont es el de HOME */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 550px;
    margin-top: 20px;
}
.cont-Co1-Col2{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* estilos col 1 */
.col1-landing, .col2-landing {
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
/* estilos propiedades col 1 y 2 */
.contProp-col1, .contProp-col2{
    width: 95%;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10%;
    background-color: #fffffff1;
}
.imgPropHome{
    width: 85%;
    height: 230px;
    margin-top: 20px;
    border-radius: 5%;
}
.infoProp1-texto1, .infoProp1-texto2{
    display: flex;
    justify-content: center;
    align-self: start;
    font-family: Poppins;
    margin: 5px 0 0 25px;
}
.infoProp1-precio{
    align-self: self-end;
    margin: 20px 25px 20px 0;
}
/* estilos texto - col 1 y 2*/
.contTexto-col1 , .contTexto-col2{
    width: 95%;
    height: 130px;
    display: flex;
    flex-direction: column;    
    justify-content: start;
    align-items: center;
    border-radius: 10%;    
    background-color: #fff;
}
.sub-contenedor {
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-self: start;
    width: 90%;
    margin: 8px 0 0 10px;
    background-color: aquamarine;
}
.texto-col1-col2{
    font-family: Poppins;
    margin: 0;
}
/* estilos col 2 */
.col2-landing{
    justify-content: end;
}
.contTexto-col2{
    margin-bottom: 10px;
}
/* estilos col 3 */
.col3-landing{
    width: 40%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;    
}
.contTexto1-col3{
    width: 80%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10%;
    background-color: #fffffff1;
}
.imgCasaDpto{
    /* position: absolute; */
    top: 80px; /* Ajuste para que la imagen sobresalga un poco */
    right: 140px; /* Ajuste para que la imagen sobresalga un poco */
    width: 80px;
    border-radius: 50%;
}
.sub-cont-info-col3{
    display: flexbox;
    justify-content: center;
    align-items: start;
    width: 90%;
    margin: 20px 0 0 20px;
}
.texto-col3-comprar{
    font-size: 2rem;
    margin: 0 0 5px 0;
}
.texto-col3-texto{
    font-size: 20px;
    margin: 0 0 10px 0;
}
.texto-col3-vender{
    font-size: 2rem;
    margin: 0;
}
.texto-col3-nuestroClientes{
    font-size: 1.5rem;
    margin: 0 0 5px 0;
}
.cont-texto-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.explorarProps{
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 8px 10px;
    border-radius: 40px;
    font-size: 1.3rem;
    background-color: aquamarine;
}
.a-explorarProps{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.btn-propiedades {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}
.iconoExplorarProps{
    width: 30px;
    margin-left: 5px;
}
.zocalo {
    position: absolute;
    width: auto;
    display: flex;
    position: absolute;
    justify-content: center;
    align-self: center;
    top: 680px;
    padding: 8px 10px;
    border-radius: 20px;
    background-color: rgba(239, 244, 242, 0.999);
}

/* propiedades Home Pantalla Chica */
.home-pantChica {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../Imagenes/Mar-Del-Plata.webp');
    background-size: cover; /* Hace que la imagen de fondo cubra todo el div */
    background-position: center;
}
.cont-info{
    width: 80%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    color: rgba(129, 239, 202, 0.952);
    background: rgb(128, 76, 160);
    background: radial-gradient(circle, rgba(150, 87, 189, 0.945) 43%, rgba(175,126,191,1) 85%);
}

/* responsive */
@media screen and (max-width: 1200px) /* and (min-width: 999px) */{
    /* cont col 1 */
    .cont-Co1-Col2{
        width: 70%;
    }
    /* props 3er col */
    .texto-col3-comprar{
        font-size: 1.5rem;
    }
    .texto-col3-texto{
        font-size: 15px;
        margin: 0 0 10px 0;
    }
    .texto-col3-vender{
        font-size: 1.5rem;
        margin: 0;
    }
    .texto-col3-nuestroClientes{
        font-size: 1rem;
        margin: 0 0 5px 0;
    }
    .cont-texto-btn{
        margin-top: 50px;
    }
    .explorarProps{
        margin-right: 10px;
        margin-bottom: 5px;
        padding: 8px 10px;
        border-radius: 40px;
        font-size: 1rem;
    }
}
@media screen and (max-width: 900px) {
    .contGralLanding-imagen{
        height: 550px;
    }
    .zocalo{
        top: 580px;
    }
    .contLanding{
        width: 90%;
        margin: 0;
    }
    /* cont col 1 */
    .cont-Co1-Col2 {
        width: 75%;
    }
    .contProp-col1, .contProp-col2{
        width: 95%;
        height: 300px;
    }
    /* cont col 2 */
    .col1-landing, .col2-landing {
        width: 50%;
        height: 450px;
    }
    .imgProp {
        width: 85%;
        height: 150px;
    }
    /* col 3 */
    .col3-landing{
        width: 40%;
        height: 450px;
    }
    .contTexto1-col3{
        width: 100%;
        height: auto;
    }
    .imgCasaDpto{
        width: 50px;
        border-radius: 50%;
    }
    .sub-cont-info-col3{
        display: flexbox;
        justify-content: center;
        align-items: start;
        width: 90%;
    }
    .texto-col3-comprar{
        font-size: 1rem;
        margin: 0 0 5px 0;
    }
    .texto-col3-texto{
        font-size: 1rem;
        margin: 0 0 10px 0;
    }
    .texto-col3-vender{
        font-size: 1rem;
        margin: 0;
    }
    .texto-col3-nuestroClientes{
        font-size: 1rem;
        margin: 0 0 5px 0;
    }
    .cont-texto-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }
    .explorarProps{
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 8px 10px;
        border-radius: 40px;
        font-size: 0.8rem;
        background-color: aquamarine;
    }
}
@media screen and (max-width: 750px) {
    .zocalo{
        top: 555px;
    } 
}
@media screen and (min-width: 600px){
    .home-pantChica{
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .cont-home{
        width: 100%;
    }
    .contGralLanding-imagen{
        display: none;
    }
    .cont-info{
        width: 70%;
        height: 350px;
    }
    .linkContacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .texto-col3-nuestroClientes, .texto-col3-texto-link{
        margin: 0;
    }
}
@media screen and (max-width: 450px) {    
    .cont-info{
        width: 80%;
        height: 300px;
    }
}
@media screen and (max-width: 300px) {
    .cont-info{
        width: 90%;
        height: auto;
    }
    .texto-col3-comprar{
        font-size: 12px;
    }
    .texto-col3-texto{
        font-size: 12px;
    }
    .texto-col3-vender{
        font-size: 12px;
    }
    .texto-col3-nuestroClientes{
        font-size: 12px;
    }
    .texto-col3-texto-link{
        font-size: 12px;
    }
}