.contModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90vh;
    background-color: black;
}
.imgProp{
    width: 90%;
    height: 90%;
    margin: 0;
}